In [1]:
import sqlite3 as sq

In [5]:
conn=sq.connect("studentinfo")
cur=conn.cursor()
cur.execute("drop table if exists student")
cur.execute("CREATE table student(name TEXT,rno INTEGER)")
cur.execute("INSERT into student(name,rno) VALUES(?,?)",('Anith',21))
cur.execute("INSERT into student(name,rno) VALUES(?,?)",('Arjun',20))
cur.execute("select * from student")
print(cur.fetchall())
conn.close()

[('Anith', 21), ('Arjun', 20)]