In [ ]:
#https://raw.githubusercontent.com/KMITDS/CS601PC/main/individual.csv

In [1]:
import pandas as pd
df=pd.read_csv("individual.csv")
df.head(10)

   Id  income recreation         job   status age-group home-owner        cw
0   1  medium     skiing      design   single  twenties         no  highRisk
1   2    high       golf     trading  married   forties        yes   lowRisk
2   3     low   speedway   transport  married  thirties        yes   medRisk
3   4  medium   football     banking   single  thirties        yes   lowRisk
4   5    high     flying       media  married   fifties        yes  highRisk
5   6     low   football    security   single  twenties         no   medRisk
6   7  medium       golf       media   single  thirties        yes   medRisk
7   8  medium       golf   transport  married   forties        yes   lowRisk
8   9    high     skiing     banking   single  thirties        yes  highRisk
9  10     low       golf  unemployed  married   forties        yes  highRisk

In [2]:
df[(df.status=='single') & (df.cw=='medRisk')]

   Id  income recreation       job  status age-group home-owner       cw
5   6     low   football  security  single  twenties         no  medRisk
6   7  medium       golf     media  single  thirties        yes  medRisk

In [3]:
df.columns

Index(['Id', 'income', 'recreation', 'job', 'status', 'age-group',
       'home-owner', 'cw'],
      dtype='object')

In [4]:
df[(df.cw=='medRisk')]

   Id  income recreation        job   status age-group home-owner       cw
2   3     low   speedway  transport  married  thirties        yes  medRisk
5   6     low   football   security   single  twenties         no  medRisk
6   7  medium       golf      media   single  thirties        yes  medRisk

In [5]:
df[(df.status=='single') & (df.cw=='medRisk')].shape[0]/df[(df.cw=='medRisk')].shape[0]

0.6666666666666666

In [6]:
df[(df.recreation=='golf')].shape[0]/df.shape[0]

0.4